@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.attribution {
  margin-top: 7rem;
  position: absolute;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #6080ff;
}
:root {
  --pink: #c33d91;
  --light-pink: hsl(322, 100%, 66%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
  --font-family-OS: "Open Sans", sans-serif;
  /* 400(paragraph),600(button),700(stats) --body*/
  --font-family-POP: "Poppins", sans-serif;
  /* 700 -- headingd*/
}
body {
  font-size: 63%;
}
main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  color: var(--very-dark-cyan);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 3rem 2.8rem;
  width: 90%;
}
.logo-image {
  width: 12rem;
  fill: #111;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.try-it {
  width: 8rem;
  background-color: white;
  border: 1px solid var(--pink);
  color: var(--pink);
  border-radius: 25px;
  font-family: var(--font-family-OS);
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 1s ease;
  line-height: 1.3rem;
}
.try-it:hover {
  cursor: pointer;
  border: 1px solid var(--light-pink);
  color: var(--light-pink);
}
/* introduction area */
.introduction-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-area {
  margin-top: 9rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: var(--font-family-POP);
  font-size: 2.8rem;
  font-weight: 700;
}
.pera {
  font-size: 1.15rem;
  font-weight: 600;
  margin: 1rem 2rem;
  line-height: 1.68rem;
  max-width: 35rem;
  font-family: var(--font-family-OS);
}
.start {
  margin: 2.3rem 2rem;
  width: 24rem;
  border-radius: 4rem;
  font-size: 1.2rem;
  background-color: var(--pink);
  line-height: 5rem;
  box-shadow: 1px 7px 10px 0px #c5c1c1;
  border: 0px;
  color: white;
  font-family: var(--font-family-OS);
  font-weight: 600;
  letter-spacing: 0.6px;
  transition: background-color 1s ease;
}
.start:hover {
  cursor: pointer;
  background-color: var(--light-pink);
}
.mockups {
  width: 75%;
}
.mockups-image {
  margin: 4rem 0;
  width: 100%;
}

/* stats-area */
.stats-area {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 70%;
}
.icon {
  width: 2.52rem;
}
.stats-nums {
  font-family: var(--font-family-OS);
  font-size: 5.6rem;
  font-weight: 700;
}
.stats-capt {
  font-family: var(--font-family-OS);
  font-size: 1.51rem;
  font-weight: 600;
  color: #8d9197;
  text-align: center;
}

.first {
  display: flex;
  background-color: var(--very-pale-blue);
  justify-content: space-between;
  align-items: stretch;
}
.top-mob-1,
.bottom-mob-1 {
  display: none;
}
.top-desk-1,
.top-desk-2 {
  margin-top: 10rem;
}

.text-block {
  margin: 0 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.text-block h2 {
  font-family: var(--font-family-POP);
  margin-bottom: 1.3rem;
  font-size: 2.43rem;
  color: hsl(192deg 100% 9%);
}
.text-block p {
  font-family: var(--font-family-OS);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.68rem;
}

.image-area img {
  width: 100%;
}

.flowing-conversations {
  display: flex;
  margin-top: 5rem;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;
}

.second {
  display: flex;
  background-color: var(--very-pale-blue);
  justify-content: space-between;
  align-items: stretch;
}
.top-mob-2,
.bottom-mob-2 {
  display: none;
}

.footer {
  display: flex;
  background-color: var(--very-dark-cyan);
  color: #fff;
  font-family: var(--font-family-OS);
  justify-content: space-around;
  align-items: stretch;
}

.connect {
  margin: 8rem 0;
  font-family: var(--font-family-OS);
  padding: 1rem;
}
.padding {
  padding-left: 3rem;
}
.about-comp {
  margin: 2rem 0;
  text-align: start;
  font-size: 0.9rem;
  font-weight: 400;
  max-width: 18rem;
}
.contect {
  font-size: 0.9rem;
  margin: 1rem 0;
}
.contact-icon {
  width: 0.9rem;
  margin-right: 15px;
}
.social {
  display: flex;
  width: 8rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.social-icon {
  fill: #fff;
  width: 30px;
  height: 30px;
  transition: fill 1s ease-in;
}
.social-icon:hover {
  fill: hsl(192deg 100% 49%);
  cursor: pointer;
}
.subs-news {
  margin: 2rem 0;
  text-align: start;
  font-size: 0.9rem;
  font-weight: 400;
  max-width: 21rem;
}
.connect > h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.footer-mob {
  display: none;
}
.footer-desk {
  margin-top: 10rem;
}
.form {
  display: flex;
  flex-wrap: wrap;
}
#email {
  line-height: 2px;
  border-radius: 10px;
  height: 3rem;
  outline: none;
  border: none;
  font-family: var(--font-family-OS);
  font-size: 1.125rem;
  max-width: 20rem;
  width: 100%;
}
#email:hover {
  cursor: pointer;
}

.subs-btn {
  margin: 0 2rem;
  line-height: 3rem;
  font-family: var(--font-family-OS);
  width: 8rem;
  background-color: var(--pink);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  color: white;
  transition: background-color 1s ease;
  font-size: 1rem;
}
.subs-btn:hover {
  cursor: pointer;
  background-color: var(--light-pink);
}
.warnning {
  margin-top: 1rem;
  color: var(--light-red);
  opacity: 0;
  transition: opacity 1s;
}

@media screen and (max-width: 759px) {
  .header {
    margin: 2rem 0.5rem;
  }
  .logo-image {
    width: 5rem;
  }
  .try-it {
    font-size: 0.4rem;
    width: 4rem;
  }
  .text-area {
    margin: 4rem 0;
  }

  .start {
    width: 12rem;
    font-size: 0.68rem;
    line-height: 3rem;
    margin: 1rem 2rem;
  }
  .mockups-image {
    margin: 0 0;
  }
  .stats-area {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .first {
    flex-direction: column-reverse;
  }
  .text-block {
    align-items: center;
    text-align: center;
    margin: 2rem 1.5rem;
  }

  .flowing-conversations {
    flex-direction: column-reverse;
  }
  .second {
    flex-direction: column-reverse;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .connect {
    margin: 3rem 0;
    padding: 1rem;
  }
}
@media only screen and (max-width: 375px) {
  .heading {
    font-size: 1.432rem;
  }
  .pera {
    font-size: 0.68rem;
    line-height: 1rem;
    margin: 1rem 1.2rem;
  }
  .text-block h2 {
    font-size: 1.43rem;
  }
  .text-block p {
    font-size: 0.68rem;
    line-height: unset;
  }
  .image-area {
    margin: 1rem;
  }

  .top-desk-2,
  .bottom-desk-2,
  .footer-desk,
  .top-desk-1,
  .bottom-desk-1 {
    display: none;
  }
  .top-mob-2,
  .bottom-mob-2,
  .footer-mob,
  .top-mob-1,
  .bottom-mob-1 {
    display: block;
  }
  .top-mob-2 {
    margin-top: 2rem;
  }
  .form {
    flex-direction: row-reverse;
  }
}
@media only screen and (max-width: 1100px) {
  .subs-btn {
    margin: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .stats-area {
    justify-content: space-between;
    align-items: center;
  }
  .stats {
    margin: 3rem;
  }
  .stats-nums {
    font-size: 3.64rem;
  }
  .stats-capt {
    font-size: 0.914rem;
  }
}
